extends template 

block main 
    .row.d-flex.vh-100.justify-content-evenly.align-items-center
        .col-md-8
          .card.border-1.border-primary 
            .card-header
              ul 
                li 
                  h2
                li
                  h5 0 Online      
            ul.card-body.overflow-y-auto.overflow-x-hidden(style='width: 100%; height: 300px')
              li.login 
                p.my-1 login

            .card-footer
              form.input-group
                input.form-control(type='text', placeholder='Message', aria-label='Message', aria-describedby='Message')
                span#Message.input-group-text
                  button.btn(type='submit')
                    img(src='assets/img/send.svg', alt='send')
    script(src="/socket.io/socket.io.js") 
    script(src="assets/js/chat.js") 
