extends template

block main 
    main.container
      .row.d-flex.vh-100.justify-content-evenly.align-items-center
        .col-md-5.d-flex.justify-content-center
          img(src='assets/img/live-chat.svg', alt='live chat', width='300', height='300')        
        .col-md-5
          h3 Wellcome to          
          h1 Chat live          
          h4 This live web chat was created by BWX1Y         
          a.btn.btn-outline-primary(href='/login') Login